Id: {{bike.id}}
<p>
Manufacturer: {{bike.manufacturer}}
<p>
SerialNumber: {{bike.serialNumber}}
<p>
ipfsHash: {{bike.ipfsHash}}
<p>
Date Created: {{bike.dateCreated}}
<p>
Owner Address: {{bike.owner}}
<p>
<div class="imgbox">
  <img src={{bike.bikeUrl}} alt="{{bike.name}}" class="center-fit">
</div>
