Deed Id: <a href="/bikes?deedid={{bike.id}}">{{bike.id}}</a>
<p>
Manufacturer: {{bike.manufacturer}}
<p>
SerialNumber: {{bike.serialNumber}}
<p>
IPFS Hash: <a href="{{bike.bikeUrl}}">{{bike.ipfsHash}}</a>
<p>
Date Created: {{bike.dateCreated}}
<p>
Owner Address: <a href="https://etherscan.io/address/{{bike.owner}}">{{bike.owner}}</a>
<p>
<div class="imgbox">
  <img src={{bike.bikeUrl}} alt="{{bike.name}}" class="left-fit">
</div>
