

{{#each bikes}}

  <div class="imgbox-small">
    <a href="/bikes?deedid={{this.id}}">
      <img src={{this.bikeUrl}} alt="{{this.name}}" class="left-fit-small">
    </a>
  </div>
  Deed Id: <a href="/bikes?deedid={{this.id}}">{{this.id}}</a>
  <p>
  Manufacturer: {{this.manufacturer}}
  <p>
  SerialNumber: {{this.serialNumber}}
  <p>
  IPFS Hash: <a href="{{this.bikeUrl}}">{{this.ipfsHash}}</a>
  <p>
  Date Created: {{this.dateCreated}}
  <p>
  Owner Address: <a href="https://etherscan.io/address/{{this.owner}}">{{this.owner}}</a>
  <p>
  <hr/>
{{else}}
  <p class="empty">No Bikes!!!</p>
{{/each}}
